@* @model QUANLYRAPCHIEUPHHIM.Models.Movie *@
@* @{ *@
@* 	Layout = "_Layout"; *@
@* } *@
@* <h2>@Model.Title</h2> *@
@* <p><strong>Thời lượng:</strong> @Model.Duration phút</p> *@
@* <p><strong>Giới hạn độ tuổi:</strong> @Model.AgeLimit</p> *@
@* <p><strong>Mô tả:</strong> @Model.Description</p> *@
@* <p><strong>Trailer:</strong></p> *@
@* <iframe width="560" height="315" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe> *@
